*{
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/*------- Header------- */
header {
    background: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
}

header .menu {
    margin: 50px 0;
    text-align: right;
}

header .menu a {
    margin: 0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    /* border-bottom: 2px solid transparent; */
    font-size: 1em;
}

header .menu a:hover {
    color: black;
    /* border-bottom: 2px solid tomato; */
    transition: all 0.7s ease-in-out;
}

header .contenedor-texto {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 150px;
}

header .contenedor-texto .texto {
    /* border: 2px solid rgba(255, 255, 255, 0.5); */
    /* border-radius: 3px; */
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
    color: #f2f2f2;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
    color: #fff;
    font-weight: 300;
    margin: 0;
}

header .contenedor-texto .texto .nombre {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 40px;
}

header .contenedor-texto .texto .profesion {
    font-size: 20px;
    line-height: 20px;
}

/* ------Main------ */
.main .contenedor {
    overflow: visible;
}

.main .acerca-de {
    text-align: center;
}

.main .acerca-de .foto {
    margin-top: -60px;
}

.main .acerca-de .foto img {
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.4);
}

.main .acerca-de .texto p {
    color: #5a5a5a;
    font-weight: 300;
    font-size: 3em;
    line-height: 60px;
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .trabajos {
    background-color: #dfdfdf;
    padding: 60px 0;
}

.main .trabajos .contenedor {
    overflow: hidden;
}

.main .trabajos .titulo {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #5a5a5a;
    text-align: center;
}

.main .trabajos .contenedor-trabajos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .trabajos .contenedor-trabajos .trabajo {
    width: 48%;
    margin-top: 30px;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb {
    width: 100%;
    margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img {
    width: 100%;
    vertical-align: top;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion {
    text-align: center;
    margin: 30px 0;
}

.main .trabajos .contenedor-trabajos .trabajo .nombre {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

}

.main .trabajos .contenedor-trabajos .trabajo .categoria {
    font-size: 14px;
    color: #5a5a5a;
}

